ALCHEMY_CODES = [
    '',
    ''
]
TWITTER_CODES = [
    {
        'CONSUMER_KEY': '',
        'CONSUMER_SECRET': '',
        'ACCESS_TOKEN': '',
        'ACCESS_SECRET': ''
    },
    {
        'CONSUMER_KEY': '',
        'CONSUMER_SECRET': '',
        'ACCESS_TOKEN': '',
        'ACCESS_SECRET': ''
    },
]

