<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="static/css/styles.css" />
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
      <script src="https://d3js.org/d3.v3.min.js"></script>
      <script src="https://d3js.org/topojson.v1.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </head>
  <body>
    <script>
      //Function that sends Django data back to topology.js
      function getStateData(){
        return {{data|safe}};
      } 
    </script>
    <h1 class="centered">2016 Presidential Race Projections</h1>
    <div class="graphics">
      <script type="text/javascript" src="static/js/topology.js"></script>
      <div class="chart"></div>
    </div>
    <div class="stateData"></div>
  </body>
</html>
  